<!DOCTYPE html>
<html lang="en">
<head>
	<title>ZAP Scanning Report</title>
	<link href="/plugin/zap-jenkins-plugin/normalize.css" rel="stylesheet">
	<link href="/plugin/zap-jenkins-plugin/skeleton.css" rel="stylesheet">
	<link href="/plugin/zap-jenkins-plugin/main.css" rel="stylesheet">

	<script src="/plugin/zap-jenkins-plugin/angular.min.js"></script>
	<script src="/plugin/zap-jenkins-plugin/main.js"></script>

</head>
<body data-ng-app="zap" data-ng-controller="mainController" data-ng-init="load()">

	<div class="navbar">
		<div class="navbar-container">
			<a data-ng-click="goBack()"><img alt="Back" src="/plugin/zap-jenkins-plugin/back.png"></a>
		</div>
	</div>
	
	<div class="container">
		<div class="row warnings" data-ng-if="warnings">
			<div data-ng-repeat="warning in warnings" class="button button-warning {{warning.type}}">
				{{warning.warning}}
			</div>
		</div>

		<div class="row stats">
			<div class="four columns">

				<h3><span class="high circle"></span> {{counts.high}}</h3>
				<h5>High risk</h5>

			</div>
			<div class="four columns">

				<h3><span class="medium circle"></span> {{counts.medium}} </h3>
				<h5>Medium risk</h5>

			</div>
			<div class="four columns">

				<h3><span class="low circle"></span> {{counts.low}}</h3>
				<h5>Low risk </h5>

			</div>
		</div>


		<div data-ng-repeat="alert in alerts" class="row alerts">
			<div class="column alert {{colors[alert.riskCode-1]}}">		
				<h5><span data-ng-if="alert.isNew">New: </span>{{alert.alert}} ({{alert.instances.length}})</h5>
				<div class="description" data-ng-bind-html="alert.description | to_trusted"></div>
				<p class="confidence">Confidence: <strong>{{alert.confidence}}</strong></p>

				<h6>
					Instances<span data-ng-if="alert.hasNewInstances"> (new)</span>:
					<a data-ng-click="alert.showInstances=!alert.showInstances">
						<span class="button button-instance" data-ng-class="{'button-primary':!alert.showInstances}">
							{{alert.showInstances ? 'Hide' : 'Show'}}
						</span>
					</a>
				</h6>


				<pre data-ng-show="alert.showInstances" data-ng-repeat="instance in alert.instances track by $index">

<code>URI: {{instance.uri}}
Method: {{instance.method}}
Param: {{instance.param}}</code>

				</pre>

				<h6>Solution:</h6>
				<div data-ng-bind-html="alert.solution | to_trusted" class="generated"></div>
			</div>
		</div>

		<div class="row center header" data-ng-if="suppressedAlerts.length > 0">
			<a class="button" data-ng-click="loadAll()" data-ng-if="!showAll">Show suppressed alerts for this build</a>
		</div>
	</div>
</body>
</html>