.stats{
	margin-top:50px;
}

html{
    overflow-y:scroll;
    overflow-x:hidden;
}

.stats h5, .stats h3{
	 text-align:center;
}

.stats h3{
	margin-bottom:0;
	font-size:30px;
}

span.alert-count-text{
    vertical-align:text-bottom;
}

code.instance-code{
    border-radius:0;
}


.low:not(.instance-code){
	background-color:rgb(74, 144, 226);
}

.low.instance-code{
	border-left: 3px solid rgb(74, 144, 226);		
}

.medium:not(.instance-code){
	background-color:rgb(245,166,35);
}

.medium.instance-code{
	border-left: 3px solid rgb(245,166,35);
}

.high:not(.instance-code){
	background-color:#d54c53;
}

.high.instance-code{
	border-left: 3px solid #d54c53;
}

.suppressed:not(.instance-code){
	background-color:rgb(128, 128, 128);
}

.suppressed.instance-code{
	border-left: 3px solid rgb(128, 128, 128);	
}

.circle{
  height: 25px;
  width: 25px;

  border-radius: 50%;
  display: inline-block;
}

.logo{
	width:100px;
	margin-bottom:20px;
}

a{
	color:#222;
	font-weight:normal;
}

a:hover{
	cursor:pointer;
	color:#222;
}

.alerts{
	margin-top:50px;
}

.alerts pre{
	margin: 0;
}

.alerts h6{
	margin-bottom:10px;
}

.alerts h5{
	margin-bottom:10px;
}

.alert{
	padding:20px;
	color:#222;
	border-radius:1px;
	border:1px solid #eaeaea;
	border-top:3px solid #bbb;
	border-left:3px solid #bbb;

	font-weight:100 !important;
}

.navbar{
	height:48px;
	width:100%;
	background:#78b037;
}

.navbar img{
	height:32px;
	width:32pxpx;
	margin-top:8px;
	margin-left:8px;
}

pre{
	display:flex;
}

.generated p{
	margin-bottom:0;
	display:inline-block;
	margin-right:5px;
}

h6{
	font-weight:bold;
}

body{
	padding-bottom:50px;	
}

.alert.high-alert{
	border-top-color: #d54c53;
	border-left-color: #d54c53;
}

.alert.medium-alert{
	border-top-color: rgb(245,166,35);
	border-left-color: rgb(245,166,35);
}

.alert.low-alert{
	border-top-color: rgb(74, 144, 226);
	border-left-color: rgb(74, 144, 226);
}

code, pre{
	width:100%;
}

.error{
	font-size:23px;
	color:#f00;
	padding:5px;
}

.center{
	text-align:center;
}

.header{
	margin:20px;
}

.description p{
	margin-bottom:0;
}

.confidence{
	margin-bottom:2.5rem;
}

.button.button-instance{
    height:24px;
    line-height:24px;
    transition: background-color 0.5s ease;
    float:right;
    width:100px;
}

.button.button-instance-action {
    height:24px;
    line-height:24px;
    transition: background-color 0.5s ease;
    float:left;
    margin-right: 5px;
}

.button.button-warning{
    color:#fff;
    background:#f5a623;
    cursor:default;
    border-color:transparent;
    display:inline-block;
}

.button.success{
    background:#78b037;
}

.button.warning{
    background:#f5a623;
}

.warnings{
    margin-top:20px;
    text-align:center;
}

.button.failure{
    background:#d54c53
}

.instance-code {
	overflow-x : auto;
}

.instance-actions {
	width : 100%;
	padding-top : 5px;
	display : inline-block;
}

.generated-short {
	max-height : 50px;
	overflow-y: hidden;
}

.high-alert .button.button-primary{
    background-color:#d54c53;
    border-color:#d54c53;
}

.high-alert .button.button-primary:hover, .high-alert .button.button-primary:focus{
    background-color:#a5373d;
    border-color:#a5373d;
}

.medium-alert .button.button-primary{
    background-color:rgb(245,166,35);
    border-color:rgb(245,166,35);
}

.medium-alert .button.button-primary:hover, .medium-alert .button.button-primary:focus{
    background-color:rgb(199, 135, 28);
    border-color:rgb(199, 135, 28);
}


.low-alert .button.button-primary{
    background-color:rgb(74, 144, 226);
    border-color:rgb(74, 144, 226);   
}

.low-alert .button.button-primary:hover, .low-alert .button.button-primary:focus{
    background-color: rgb(55, 107, 169);
    border-color: rgb(55, 107, 169);
}


